* {
    margin: 0;
    padding: 0;
  }
  
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-family: Roboto;
    background-color: #283618;
    padding: 20px;
  }
  
  nav ul{
    list-style-type:none;
    display:flex;
  }
  
  a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    transition: 0.25s;
  }
  
  a:hover {
    font-weight: bold;
  }
  
  .active{
    background-color: #290813;
    font-weight: bold;
  }